[submodule "src/ols"]
	path = src/ols
	url = https://github.com/litespeedtech/openlitespeed.git
[submodule "src/lsquic"]
	path = src/lsquic
	url = https://github.com/litespeedtech/lsquic.git
[submodule "src/xxhash"]
	path = src/xxhash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "src/brotli"]
	path = src/brotli
	url = https://github.com/google/brotli.git
[submodule "src/udns"]
	path = src/udns
	url = https://github.com/ortclib/udns.git
[submodule "src/libinjection"]
	path = src/libinjection
	url = https://github.com/client9/libinjection
[submodule "src/libmaxminddb"]
	path = src/libmaxminddb
	url = https://github.com/maxmind/libmaxminddb
[submodule "src/ip2loc"]
	path = src/ip2loc
	url = https://github.com/chrislim2888/IP2Location-C-Library
[submodule "src/boringssl"]
	path = src/boringssl
	url = https://github.com/google/boringssl
[submodule "src/bcrypt"]
	path = src/bcrypt
	url = https://github.com/litespeedtech/libbcrypt
[submodule "src/mod_sec"]
	path = src/mod_sec
	url = https://github.com/SpiderLabs/ModSecurity
